<div class="main_container">
  <div class="search_bar row">
    <%= form_with(url: "#", id: "search_form") do |form| %>
      <%= form.text_field :"#", placeholder: "" %>
      <%= form.submit "投稿検索" %>
    <% end %>
    <%= link_to('#', class: 'post-btn') do %>
      <span class='purchase-btn-text'>投稿する</span>
    <% end %>
  </div>
  
  <div class='item-contents'>
    <h2 class='title'>投稿情報一覧</h2>
    <p>
    </p>
    </div>
  <ul class='item-lists'>
  <li class='list'>
          <%= link_to '#' do %>
            <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
             <div class='item-info'>
               <h3 class='item-name'>
               ○○キャンプ場(東京都)
               </h3>
             <div class='item-price'>
               <span>20xx年xx月xx日</span>
             <div class='star-btn'>
               <%# <%= image_tag "#", class:"star-icon" %> 
               <span class='star-count'>ユーザー名</span>
             </div>
             </div>
             </div>
          <% end %>
  </li>
    </ul>
  </div>

</div>